@tailwind base;

@tailwind components;

@tailwind utilities;

html {
  @apply text-dark;
}

.bg-login {
  background-image: url("images/login/bg.jpg");
  @apply bg-no-repeat bg-center bg-fixed bg-cover;
}

/*
Fix border-radius + overflow: hidden + CSS transform in Safari
See https://gist.github.com/ayamflow/b602ab436ac9f05660d9c15190f4fd7b
*/
.fix-safari-border {
  -webkit-mask-image: -webkit-radial-gradient(white, black);
}

/* Tiny Slider */
.tns-outer {
  @apply relative;
}

.tns-controls {
  button[data-controls="prev"],
  button[data-controls="next"] {
    @apply hidden absolute z-10 -mt-6 bg-no-repeat bg-center rounded-full shadow-md w-12 h-12 bg-white transition duration-150 ease-in-out;
    top: 50%;
    text-indent: -9999px;

    &[disabled] {
      @apply opacity-0;
    }

    &:focus {
      @apply outline-none shadow-outline-white;
    }

    @screen lg {
      @apply block;
    }
  }

  button[data-controls="prev"] {
    background-image: url("images/heroicons/chevron-left.svg");
    @apply ml-6 left-0;
  }

  button[data-controls="next"] {
    background-image: url("images/heroicons/chevron-right.svg");
    @apply mr-6 right-0;
  }
}

.tns-nav {
  @apply hidden;
}

.tns-ovh {
  @apply -mb-16 pb-16;
}

.tns-slider {
  @apply flex;
}

/* Mailchimp Form */
#mce-responses {
  a {
    @apply block text-dark font-bold transition duration-150 ease-in-out;

    &:hover {
      @apply text-primary-500;
    }

    &:focus {
      @apply outline-none text-primary-500;
    }
  }
}

/* Top Bar */
.top-bar {
  @apply inline-flex;

  a {
    @apply inline-flex items-center ml-3 px-6 py-1.5 border-2 border-white rounded text-sm leading-5 font-bold text-white transition duration-150 ease-in-out;

    &:hover {
      @apply bg-white text-dark;
    }

    &:focus {
      @apply outline-none shadow-outline-white bg-white text-dark;
    }
  }
}

/* Main Menu */
.main-menu {
  @apply inline-flex;

  a {
    @apply inline-flex items-center ml-3 px-6 py-1.5 border-2 border-transparent rounded text-sm leading-5 font-bold transition duration-150 ease-in-out;

    &:hover {
      @apply text-primary-500;
    }

    &:focus {
      @apply outline-none shadow-outline-primary text-primary-500;
    }
  }
}

/* Footer Links */
.footer-links {
  @apply inline-flex;

  li {
    &::after {
      content: "  |  ";
      white-space: pre;
    }

    &:last-child {
      &::after {
        content: "";
      }
    }
  }

  a {
    @apply transition duration-150 ease-in-out;

    &:hover {
      @apply text-primary-500;
    }

    &:focus {
      @apply outline-none text-primary-500;
    }
  }
}

/* User-generated content */
.home:not(body),
.contact:not(body),
.post:not(body),
.content:not(body),
.opt-in:not(body) {
  a {
    @apply font-bold transition duration-150 ease-in-out;

    &:hover {
      @apply text-primary-500;
    }

    &:focus {
      @apply outline-none text-primary-500;
    }
  }

  ol {
    @apply list-decimal list-inside;
  }

  ul {
    @apply list-disc list-inside;
  }
}

.first-child-mt-0 {
  > *:first-child {
    @apply mt-0;
  }
}

.last-child-mb-0 {
  > *:last-child {
    @apply mb-0;
  }
}

/* Home */
.home:not(body) {
  @apply leading-loose break-words hyphens-manual;

  h1 {
    @apply mb-7 text-3xl leading-snug;

    @screen md {
      @apply text-4xl;
    }
  }

  h2,
  h3 {
    @apply mt-10 mb-7 text-2xl leading-normal font-bold;
  }

  p {
    @apply mb-7;

    &.lead {
      @apply text-lg leading-relaxed;
    }
  }
}

/* Contact */
.contact:not(body) {
  @apply leading-loose break-words hyphens-manual;

  h2 {
    @apply mt-20 mb-0.5 text-lg font-bold;
  }

  p {
    @apply mb-7 text-lg;
  }

  a {
    @apply font-normal;
  }
}

/* Post */
.post:not(body) {
  @apply leading-loose break-words hyphens-manual;

  h1 {
    @apply mb-8 text-3xl leading-snug font-bold;

    @screen md {
      @apply text-4xl;
    }
  }

  h2 {
    @apply mt-14 mb-5 text-2xl leading-snug font-bold;
  }

  h3 {
    @apply mb-2 text-xl leading-snug font-bold;
  }

  h4 {
    @apply mb-2 text-lg leading-snug font-bold;
  }

  p {
    @apply mb-7;
  }

  .wp-caption,
  .wp-block-image {
    @apply -mx-6 my-14;

    @screen md {
      @apply -mx-24;
    }

    figure {
      @apply mx-0 w-full;

      &.alignleft,
      &.alignright {
        @apply float-none;
      }
    }

    img {
      @apply w-full;
    }

    .wp-caption-text,
    figcaption {
      @apply mx-6 mt-5 mb-0 text-sm text-left;

      @screen md {
        @apply mx-24;
      }
    }
  }
}

/* Content */
.content:not(body) {
  @apply leading-loose break-words hyphens-manual;

  h1 {
    @apply mb-10 text-3xl leading-snug;

    @screen md {
      @apply text-4xl;
    }
  }

  p {
    @apply mb-12;
  }
}
